/* import fonts from googleapis */
@import url('https://fonts.googleapis.com/css?family=Rubik|Titillium+Web&display=swap');

html, body{
    margin: 0;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

:root{
    --primary-gradient : linear-gradient(to bottom, #ffffff, #adadaa);
    --label-gradient: linear-gradient(to bottom, #536452 0%, #57dd52 40%, #95e669 100%);
}

.container{
    background: #282c34;
    background: url('../assets/Night_3.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92vw;
    height: 89vh;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
}

/* Navigation */
.navbar{
    display: grid;
    grid-template-columns: 10% 90%;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

.navbar .nav-items{
    text-align: right;
}

.navbar .navbar-brand h5{
    padding: .4rem 2rem;
    margin: 0;
}

.nav-items .navbar-nav{
    list-style-type: none;
}

.navbar-nav .nav-link{
    display: inline-block;
    font-size: 1rem;
    margin: 0 .9rem;
}

.navbar-nav .sign-in{
    border: none;
    padding: .4rem 2rem;
    border-radius: 1rem;
    margin-right: 2rem;
    background: #ee5;
    font-family: 'Rubik', sans-serif;
}

/* Styling Checkbox */

.lightswitch{
    width: 40px;
    height: 7px;
    background: rgb(192, 188, 188);
    margin: 20px auto;
    border-radius: 100px;
    position: relative;
}

.lightswitch label{
    display: block;
    width: 19px;
    height: 19px;
    background: #0f0c29;
    background: var(--label-gradient);
    border-radius: 50px;
    position: absolute;
    top: -6px;
    left: -1px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all .5s ease;
}

.lightswitch input[type="checkbox"]{
    position: absolute;
    left: -8px;
    top: -6px;
    width: 50px;
    opacity: 0;
}

.lightswitch input[type="checkbox"]:checked + label{
    left: 25px;
    background: tomato;
}

/* Shops */

.imglayer{
    position: absolute;
    top: 50%;
    left: 22%;
}

.imglayer img{
    width: 59vw;
}

.container h4{
  font-size: 11rem;
  margin: 0 .4rem;
  padding: 0 1rem;
  margin-top: 2rem;
  font-family: 'Titillium Web', sans-serif;
  background: var(--primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}